@import '../../assets/styles/Settings/colors.scss';
.badge {
    display: flex;
    justify-content: center;
    align-items: center;
    &--big {
        width: 88px;
        height: 20px;
        padding: 4px 10px;
        color: $white;
        border-radius: 6px; 
        font-size: 14px;
        line-height: 20px;
        font-weight: 500;
    }
    &--small {
        width: 68px;
        height: 15px;
        padding: 3px 8px;
        color: $white;
        border-radius: 4px; 
        font-size: 12px;
        line-height: 17px;
        font-weight: 400;
    }
    &--blue {
        background: $blue;
    }
    &--red {
        background: $red;
    }
    &--yellow {
        background: $yellow;
    }
    &--green {
        background: $green;
    }
    &--purple {
        background: $purple;
    }
    &--orange {
        background: $orange;
    }
}