$dark-01: #3B3C4A;
$dark-02: #181A2A;
$dark-03: #696A75;
$dark-04: #97989F;

$white: #FFFFFF;
$black: #000000;

$grey: #F4F4F5;
$grey-02: #E8E8EA;
$line-grey : #E2E2E2;
$footer-background : #F6F6F7;

$blue: #4B6BFB;
$red: #c70d0d;
$yellow: #ffce0b;
$green: #57a10d;
$purple: #7b15a1;
$orange: #ec710c;
