@import '../../assets/styles/Settings/mixins.scss';
@import '../../assets/styles/Settings/colors.scss';
@import '../../assets/styles/Settings/screens.scss';

.header {
    width: 100%;
    height: 100px;
    max-width: 1248px;
    margin: 0 auto;
    @include flex-space-between;
    @include tablet {
        // max-width: calc(100% - 100px);   
    }
    @include phone {
        // max-width: calc(100% - 80px);  
       
    }
    &__logo {
        font-size: 40px;
        font-weight: 700;
        margin-left: 40px;
        a {
            color: $dark-01;
        }
    }
    &__nav {
     a {
        font-size: 16px;
        line-height: 24px;
        color: $dark-01;
        + a {
            margin-left: 20px;
        }
    }
    @include phone {
        display: none;
    }
    }
    &__search-bar {
        margin-right: 40px;
        span {
            border: none;
            background-color: $grey;
            input {
                background-color: $grey;
            }
        }
        @include phone {
            display: none;
        }
    }
    &__hamburger {
        display: none;
        font-size: 30px;
        margin-right: 40px;
        cursor: pointer;
        @include phone {
            display: block;
        }
    }

    &--active {
        position: fixed;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        height: 60vh;
        background-color: $white;
        z-index: 1;
        border-bottom: 1px solid $line-grey;
        box-shadow: 0px 20px 21px -21px rgba(0,0,0,0.75);
        
        @include tablet {
            width: 100%;
        }
        @include phone {
            width: 100%;
        }
        
        &__logo {
            margin-top: 30px;
            font-size: 40px;
            font-weight: 700;
            margin-left: 40px;
            a {
                color: $dark-01;
            }
        }
        &__nav {
            display: flex;
            flex-direction: column;
            position: absolute;
            margin-top: 100px;
            width: 100%;

            a {
                font-size: 26px;
                padding: 15px;
                padding-left: 40px;
                border-bottom: 1px solid $line-grey;
                color: $dark-01;
                &:hover {
                    color: $dark-03;
                }
            }

        }
        &__search-bar {

            @include tablet {
                display: none;
            }
            @include phone {
                display: none;
            }
        }
        &__hamburger {
            margin: 35px 40px 0 0 ;
            font-size: 30px;
            cursor: pointer;
        }

    }
}