.banner {
    &__image {
        max-width: 1248px;
        height: auto;
        img {
            width: 100%;
            height: auto;
        }
    }
    &__card {
        position: relative;

    }
}